h1,h2, h3 {
	text-align: center;
	clear:both;
	padding: 20px;
	text-align: center;
	font-weight: bold;
	color: #e7dac7;
}

h1 {
	background: #937047;
	color: white;
	font-size: 30px;

}

body {
	font-family: Arial;
	background-color:  #241f1c;
	color: #e7dac7;
}

#subpages {
	width: 300px;
	border: 3px solid #937047;
	border-radius: 25px;
	padding: 10px;
	margin: 5px;
	font-size: 15px;
	text-align: left;
	float: right;
	position: relative;
	right: 150px;
	
}

#ballads1 {
	float: left;
	width: 300px;
	border: 5px solid #937047;
	border-radius: 25px;
	padding: 10px;
	margin: 5px;
	font-size: 15px;
	position: relative;
	left: 125px;
	text-align: center;
}

#Blonde {
	float: left;
	width: 300px;
	border: 5px solid #937047;
	border-radius: 25px;
	padding: 10px;
	margin: 5px;
	font-size: 15px;
	position: relative;
	left: 125px;
	text-align: center;
}

#Graduation {
	float: left;
	width: 300px;
	border: 5px solid #937047;
	border-radius: 25px;
	padding: 10px;
	margin: 5px;
	font-size: 15px;
	position: relative;
	left: 125px;
	text-align: center;
}

#IGOR {
	float: left;
	width: 300px;
	border: 5px solid #937047;
	border-radius: 25px;
	padding: 10px;
	margin: 5px;
	font-size: 15px;
	clear: left;
	position: relative;
	left: 290px;
	text-align: center;
}

#MBDTF {
	float: left;
	width: 300px;
	border: 5px solid #937047;
	border-radius: 25px;
	padding: 10px;
	margin: 5px;
	font-size: 15px;
	position: relative;
	left: 290px;
	text-align: center;
}

footer {
	clear:left;
}

hr {
	height:5px;
	color:#937047;
	background-color:#937047;
	clear: left;
	border-color: #937047
}


a:link  {
	color:#937047;
	background-color: transparent;
	text-decoration: underline;
}
  
a:visited	{
	color:white;
	text-decoration:none;
}
